# ----------------------------------------------------------------------------------------
# NASM 64-bit Linux only.
# @file
# ----------------------------------------------------------------------------------------
